body { 
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/background.gif); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome{
  height: 100vh;
}
.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}
.social a{
  color: gainsboro;
  padding-right: 10px;
}
.social a:hover{
  color: white;
}
footer{
  background-color:#212529;
}
footer hr{
  color:white;
}
.community img{
  max-width: 200px;
  
}
@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}