body { 
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/background.gif); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social{
    position: fixed;
    bottom: 15px;
    width:99%;
  }
  
  .social a{
    color: gainsboro;
    padding-left: 10px;
  }
  .social a:hover{
    color: white;
  }